{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
<div class="grid md:grid-flow-col-dense bg-white px-2 py-2 flex items-center sm:px-6 h-25">

	<div class="object contain relative flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-xl shadow-lg pt-3 pb-2 max-w-xs md:max-w-3xl mx-auto border border-white bg-white">
		<div class="w-full md:w-2/3 bg-white flex flex-col space-y-2 p-3" style="background-image: url('{{featured.image.url}}'); background-size: 1600px 300px">

        <h3 class="font-black text-gray-800 md:text-3xl text-xl">{{featured.nombre_producto}}</h3>
        <p class="md:text-lg text-gray-500 text-base">{{featured.descripcion_producto}}</p>
        {% if featured.con_descuento %}
            <span class="grid grid-flow-col auto-cols-max pb-2">
                <h3 class="md:text-lg text-gray-500 text-base line-through">${{featured.precio_producto}}</h3>
                <h2 class="md:text-lg text-gray-500 text-base">${{featured.precio_en_descuento}}</h2>
            </span>
        {% else %}
            <span class="grid grid-flow-col auto-cols-max pb-2">
                <h3 class="md:text-lg text-gray-500 text-base">${{featured.precio_producto}}</h3>
            </span>
        {% endif %}
        </div>
    </div>
    
</div>

        
  <br>
  <div class="grid md:grid-flow-row-dense">
    <section class="bg-white py-8">

        <div class="mx-auto flex items-center flex-wrap pt-4 pb-0">

            <nav id="store" class="w-full z-30 top-0 px-6 py-1">
                <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-3">

                    <div class="flex items-center" id="store-nav-content">

                        <a class="pl-3 inline-block no-underline hover:text-black" href="#">
                            <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M7 11H17V13H7zM4 7H20V9H4zM10 15H14V17H10z" />
                            </svg>
                        </a>

                        <a class="pl-3 inline-block no-underline hover:text-black" href="{% url 'search'%}">
                            <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M10,18c1.846,0,3.543-0.635,4.897-1.688l4.396,4.396l1.414-1.414l-4.396-4.396C17.365,13.543,18,11.846,18,10 c0-4.411-3.589-8-8-8s-8,3.589-8,8S5.589,18,10,18z M10,4c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S6.691,4,10,4z" />
                            </svg>
                        </a>

                    </div>
              </div>
            </nav>
         {% for i in results %}        
            <div class="w-full md:w-1/3 xl:w-1/4 p-6 flex flex-col">
                <a href="{{i.url}}">
                    <img class="hover:grow hover:shadow-lg rounded-xl" src="{{i.image.url}}">
                    
                    <div class="pt-3 flex items-center justify-between">

                        <p class="">{{i.nombre_producto}}</p>
                        <svg class="h-6 w-6 fill-current text-gray-500 hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z" />
                          </svg>
                    </div>
                    {% if i.con_descuento %}
                        <span class="grid grid-flow-col auto-cols-max pb-2">
                            <h3 class="pt-1 pr-3 text-gray-900 line-through">${{i.precio_producto}}</h3>
                            <h2 class="pt-1 text-gray-900">${{i.precio_en_descuento}}</h2>
                        </span>
                    {% else %}
                        <span class="grid grid-flow-col auto-cols-max pb-2">
                            <h3 class="pt-1 pr-3 text-gray-900">${{i.precio_producto}}</h3>
                        </span>
                    {% endif %}
                    <form class="">
                      <!-- Default input -->
                      <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
                      <button class="btn btn-primary btn-md my-0 p" type="submit">    
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 group-hover:opacity-50 opacity-70" fill="none" viewBox="0 0 24 24" stroke="black">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                          </svg>
                      </button>

                    </form>

                </a>
                
             </div>
          {% endfor %}
    </section>

        
        {% if results.has_other_pages %}
            <div class="grid md:grid-flow-col-dense bg-white px-2 py-2 flex items-center justify-between  sm:px-6">      
                
                <div class="flex-1 flex justify-between ">
                {% if results.has_previous %}
                  <a href="?page={{ results.previous_page_number }}" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                    Atras
                  </a>
                {%endif%}
                {% if results.has_next %}
                  <a href="?page={{ results.next_page_number }}" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                    Siguiente
                  </a>
                {%endif%}
                </div>
                <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                  <div>
                    <p class="text-sm text-gray-700">
                      Mostrando
                      <span class="font-medium">{{results.start_index}}</span>
                      -
                      <span class="font-medium">{{results.paginator.count}}</span>
                      de
                      <span class="font-medium"></span>
                      productos
                    </p>
                  </div>
                  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between pl-10">
                    <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                    {% comment %} Boton Previous {% endcomment %}
                    {% if results.has_previous %}
                      <a href="?page={{ results.previous_page_number }}" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                        <span class="sr-only">Anterior</span>
                        <!-- Heroicon name: solid/chevron-left -->
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                      </a>
                    {% else %}
                    <span class="hidden">&laquo;</span>
                    {%endif%}
                    <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
                    {% for i in results.paginator.page_range %}
                      {% if results.number == i %}
                        <a href="?page={{ i }}" aria-current="page" class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
                          {{i}}
                        </a>
                      {%else%}  
                        <a href="?page={{ i }}" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
                          {{i}}
                        </a>
                      {%endif%}
                    {%endfor%}

                    {% comment %} Boton Next {% endcomment %}
                    {% if results.has_next %}
                      <a href="?page={{ results.next_page_number }}" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                        <span class="sr-only">Siguiente</span>
                        <!-- Heroicon name: solid/chevron-right -->
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                      </a>
                    {% else %}
                      <span class="hidden">&laquo;</span>
                    {%endif%}
                    </nav>
                  </div>
                </div>
            </div>      
          {%endif%}
        
    </div>

  {% endblock content %}